@model ModelValidation.Models.Appointmen
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<form asp-action="MakeBooking" method="post">
    <div asp-validation-summary="All"></div>
    <div>
        <label asp-for="UserName"></label>
        <input asp-for="UserName" />
        <span asp-validation-for="UserName"></span>

    </div>
    <div>
        <label asp-for="ClientName"></label>
        <input asp-for="ClientName" />
        <span asp-validation-for="ClientName"></span>

    </div>
    <div>
        <label asp-for="Date"></label>
        <input asp-for="Date" />
        <span asp-validation-for="Date"></span>

    </div>
    <div>
        <label asp-for="TermsAccepted"></label>
        <input asp-for="TermsAccepted" />
        <span asp-validation-for="TermsAccepted"></span>

    </div>
    <input type="submit" value="Submit" />
</form>

